fieldset{
    display: block;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
}

img{
    width: 90px;
}

.button{
    border: 0;
    text-decoration: none;
    background-color: rgb(4, 162, 83);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
    fieldset{
        padding: 100px;
        display: block;
        

    }

    p{
    
    }
}