
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: #2560a0;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li:hover{
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding: 10px 0;
}

fieldset{
    border: 0;
    background-color: rgb(204, 172, 172);
    color: #000000;
    border-radius: 20px;
    width: 40px;
    text-align: center;
    margin-top: 100px;

}

fieldset img{
    width: 700px;
}

.container {
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 1;
    text-align: justify;
    margin: 30px;
    font-size: 23px;
    margin-top: 40px;
  }

  .image {
    flex: 1;
    text-align: center;
    margin-right: 0%;

  }
  .image img {
    max-width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    line-height: 1.4; /* Espaçamento entre linhas */
}

button{
    padding: 10px;
    margin: -10px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #52779f;
    color: #ddd;
    border-radius: 10px;
    margin-left: 10px;
}

button:hover{
    background-color: #9cb3d4;
}

.pontosturisticos{
    margin-top: 180px;
}


  /* tablet */
@media (max-width: 760px) {
    .container {
        flex-direction: column;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

}
  /* celular */
@media screen and (max-width: 480px) {

    p {
        font-size: 15px; /* Reduz o tamanho da fonte */
        line-height: 1.3; /* Espaçamento entre linhas */
        margin-bottom: 10px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    fieldset {
        display: block;
        margin: 0;
    }

    fieldset img{
        width: 300px;
    }

    header{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;

    }

}